<div class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <!-- Home Tab -->
        <li class="active" role="presentation">
            <a aria-controls="home" data-toggle="tab" href="#home" role="tab">
                Home
            </a>
        </li>
        <!-- Status -->
        <li role="presentation">
            <a
                aria-controls="status"
                data-toggle="tab"
                href="#status"
                role="tab"
                >Status
            </a>
        </li>
        <!-- Edit Settings Tab -->
        <li role="presentation">
            <a
                aria-controls="editSetting"
                data-toggle="tab"
                href="#editSetting"
                role="tab"
                >Edit Settings
            </a>
        </li>
        <!-- Edit Property Names Tab -->
        <li role="presentation">
            <a
                aria-controls="editSearchProperty"
                data-toggle="tab"
                href="#editSearchProperty"
                role="tab"
                >Edit Search Properties
            </a>
        </li>
        <!-- Edit Object Type Tab -->
        <li role="presentation">
            <a
                aria-controls="editSearchObjectType"
                data-toggle="tab"
                href="#editSearchObjectType"
                role="tab"
                >Edit Search Object Types
            </a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <!-- Home Tab -->
        <div class="tab-pane active" id="home" role="tabpanel">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 class="text-center">Peek Unified Search</h1>
                    <p>
                        This plugin provides a search facility for peek with the
                        following support :
                    </p>
                    <ul>
                        <li>Search by multiple keywords</li>
                        <li>
                            Indexing multiple object types, jobs, equipment,
                            etc.
                        </li>
                        <li>
                            Support for switching to other plugins and showing
                            the object.
                        </li>
                        <li>Multiple location results for each object.</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Edit Settings Tab -->
        <div class="tab-pane" id="status" role="tabpanel">
            <pl-search-status></pl-search-status>
        </div>
        <!-- Edit Settings Tab -->
        <div class="tab-pane" id="editSetting" role="tabpanel">
            <pl-search-edit-setting></pl-search-edit-setting>
        </div>
        <!-- Edit Property Names Tab -->
        <div class="tab-pane" id="editSearchProperty" role="tabpanel">
            <pl-search-edit-property></pl-search-edit-property>
        </div>
        <!-- Edit Object Type Tab -->
        <div class="tab-pane" id="editSearchObjectType" role="tabpanel">
            <pl-search-edit-object-type></pl-search-edit-object-type>
        </div>
    </div>
</div>
