<div class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <!-- Home Tab -->
        <li role="presentation" class="active">
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a>
        </li>
        <!-- Edit Excluded Keyword Tab -->
        <li role="presentation">
            <a href="#editProperty" aria-controls="editProperty" role="tab"
               data-toggle="tab">Edit Excluded Keyword</a>
        </li>
        <!-- Edit Settings Tab -->
        <li role="presentation">
            <a href="#editSetting" aria-controls="editSetting" role="tab"
               data-toggle="tab">Edit Settings</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <!-- Edit Settings Tab -->
        <div role="tabpanel" class="tab-pane" id="editSetting">
            <pl-search-edit-setting></pl-search-edit-setting>
        </div>
        <!-- Edit Excluded Keyword Tab -->
        <div role="tabpanel" class="tab-pane" id="editProperty">
            <pl-search-edit-property></pl-search-edit-property>
        </div>
        <!-- Home Tab -->
        <div role="tabpanel" class="tab-pane active" id="home">
            <h1 class="text-center">Search Plugin</h1>
            <p>Angular2 Lazy Loaded Module</p>
            <p>This is the root of the admin app for the Search plugin</p>
        </div>

    </div>
</div>