<div class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <!-- Home Tab -->
        <li role="presentation" class="active">
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a>
        </li>
        <!-- Status -->
        <li role="presentation">
            <a href="#status" aria-controls="status" role="tab"
               data-toggle="tab">Status</a>
        </li>
        <!-- Edit Excluded Keyword Tab -->
        <li role="presentation">
            <a href="#editSearchProperty" aria-controls="editSearchProperty" role="tab"
               data-toggle="tab">Edit Search Properties</a>
        </li>
        <!-- Edit Settings Tab -->
        <li role="presentation">
            <a href="#editSetting" aria-controls="editSetting" role="tab"
               data-toggle="tab">Edit Settings</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <!-- Home Tab -->
        <div role="tabpanel" class="tab-pane active" id="home">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 class="text-center">Peek Unified Search</h1>
                    <p>This plugin provides a search facility for peek with the following support :</p>
                    <ul>
                        <li>Search by multiple keywords</li>
                        <li>Indexing multiple object types, jobs, equipment, etc.</li>
                        <li>Support for switching to other plugins and showing the object.</li>
                        <li>Multiple location results for each object.</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Edit Settings Tab -->
        <div role="tabpanel" class="tab-pane" id="status">
            <pl-search-status></pl-search-status>
        </div>
        <!-- Edit Settings Tab -->
        <div role="tabpanel" class="tab-pane" id="editSetting">
            <pl-search-edit-setting></pl-search-edit-setting>
        </div>
        <!-- Edit Excluded Keyword Tab -->
        <div role="tabpanel" class="tab-pane" id="editSearchProperty">
            <pl-search-edit-property></pl-search-edit-property>
        </div>

    </div>
</div>