<nz-alert
    *ngIf="offlineSearchEnabled()"
    [nzMessage]="offlineAlertContent"
    nzType="warning"
>
    <ng-template #offlineAlertContent>
        You are searching offline, you must use full words to search.
    </ng-template>
</nz-alert>

<div class="search-input">
    <nz-input-group [nzSuffix]="suffixTemplate">
        <input
            (ngModelChange)="searchKeywordOnChange($event)"
            [(ngModel)]="searchString"
            autofocus
            nz-input
            placeholder="Search..."
            type="text"
        />
        <ng-template #suffixTemplate>
            <i
                (click)="resetSearch()"
                *ngIf="searchString"
                nz-icon
                nzTheme="outline"
                nzType="close"
            ></i>
        </ng-template>
    </nz-input-group>
    <button (click)="optionsShown = !optionsShown" nz-button>
        <i nz-icon nzTheme="outline" nzType="filter"></i>
    </button>
</div>

<div *ngIf="optionsShown$ | async" class="search-filter">
    <nz-form-item>
        <nz-form-label nzFor="searchPropertyId">Property</nz-form-label>
        <nz-form-control>
            <nz-select
                (ngModelChange)="searchPropertyOnChange($event)"
                [(ngModel)]="searchProperty"
                id="searchPropertyId"
                name="searchPropertyId"
            >
                <nz-option
                    *ngFor="let option of searchProperties"
                    [nzLabel]="option.title"
                    [nzValue]="option"
                ></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label nzFor="searchObjectTypesId">Object Type</nz-form-label>
        <nz-form-control>
            <nz-select
                (ngModelChange)="searchObjectTypesOnChange($event)"
                [(ngModel)]="searchObjectType"
                id="searchObjectTypesId"
                name="searchObjectTypesId"
            >
                <nz-option
                    *ngFor="let option of searchObjectTypes"
                    [nzLabel]="option.title"
                    [nzValue]="option"
                ></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
</div>

<div
    *ngIf="!(resultObjects$ | async)?.length && (firstSearchHasRun$ | async)"
    class="result-alert"
>
    <nz-alert
        nzDescription="Peek could not find any results, please refine your search"
        nzMessage="No Results"
        nzType="info"
    >
    </nz-alert>
</div>

<nz-spin *ngIf="searchInProgress$ | async"></nz-spin>

<result-component
    [firstSearchHasRun]="firstSearchHasRun$ | async"
    [resultObjects]="resultObjects$ | async"
></result-component>
